@page "/about"

<PageTitle>About</PageTitle>

<h1>About</h1>

<div class="card">
    <div class="card-body">
        <p>
            This app helps browse MCC theater files, preview metadata, and package selected files into a zip.
        </p>

        <p>
            GitHub repo:
            <a href="https://github.com/danielmccluskey/mcc-theatre-browser" target="_blank" rel="noopener noreferrer">https://github.com/danielmccluskey/mcc-theatre-browser</a>
        </p>

        <h5 class="mt-4">Credits</h5>
        <ul>
            <li>Scaless + Slinky :) https://github.com/Scaless/MysteryHaloTheater/tree/master </li>
        </ul>
    </div>
</div>
